h1 {
   font-family: 'Montserrat', sans-serif;
   font-weight: 900;
   font-size: 3rem;
   line-height: 1.5;
}




/*######################## CLASS SELECTORS ########################*/
.Container-fluid {
  padding: 3% 15%;
}

.logo-font {
  font-family: "Ubuntu", sans-serif;
}




/*######################## ID SELECTORS ########################*/
#title {
  background-color: #ff4c68;
}
